extends layout

block content
    .container-fluid
        .row(style='height:100vh;')
            .span6(style='width:45vw;')
                .container-fluid
                    .row(style='height:30vh;')
                            h2 Tips
                            .span6-text-center(style='padding-top:50px')
                                p#tip
                    hr(style='width:90vw;border-color:#000000')
                    .row(style='padding-top:10px')
                            h2 IT Out
                            each entry in itout
                                if entry[3]
                                    - var start = new Date(entry[2]).toLocaleString('en-US',{ hour: 'numeric',minute:'numeric', hour12: true })
                                    - var end = new Date(entry[3]).toLocaleString('en-US',{ hour: 'numeric',minute:'numeric', hour12: true })
                                    p=(entry[1] || entry[0])+' '+start+'-'+end
                                else
                                    p=entry[1] || entry[0]
                                    p=entry[2]
            .span6(style='width:45vw;')
                .container-fluid(style='padding-left:50px;border-left:2px solid #333')
                    .row(style='height:30vh;')
                        h2 Notices
                        p=notices[0].text
                    hr(style='width:0vw;border-color:#000000')
                    .row
                        h2 Schedule
                        table(class='table table-striped' style='font-size: 175%')
                            thead
                                tr(style='color:#E5E5E5')
                                    th Time
                                    th Name
                                    th(style='text-align:center') Voicemail
                                    th(style='text-align:center') Email
                            tbody
                                - var i = 0;
                                each entry in schedule
                                    tr
                                        - var startTime = entry[0].toLocaleTimeString().slice(0,-6)
                                        if(i%2==0)
                                            td=entry[0].toLocaleTimeString().slice(0,-6)+'-'+entry[1].toLocaleTimeString().slice(0,-6)
                                            td=entry[2]
                                        else
                                            td(style='color:#E5E5E5')=entry[0].toLocaleTimeString().slice(0,-6)+'-'+entry[1].toLocaleTimeString().slice(0,-6)
                                            td(style='color:#E5E5E5')=entry[2]
                                        if roles[i]<0
                                            form(method='POST',action='/pickRole')
                                                td
                                                    button.btn.btn-primary(type='submit',name='voicemail',value=[roles[i],startTime],style='color:#111111;background:#98AFE7;margin:auto;display:block;font-size:15px;height:20px;line-height:10px;') &#10004;
                                                td
                                                    button.btn.btn-primary(type='submit',name='email',value=[roles[i],startTime],style='color:#111111;background:#FF9999;margin:auto;display:block;font-size:15px;height:20px;line-height:10px;') &#10004;
                                        else if roles[i]>=0
                                            if roles[i]
                                                if(i%2==0)
                                                    td
                                                    td(style='text-align:center') &#10004;
                                                else
                                                    td
                                                    td(style='text-align:center;color:#E5E5E5') &#10004;
                                            else
                                                if(i%2==0)
                                                    td(style='text-align:center') &#10004;
                                                    td
                                                else
                                                    td(style='text-align:center;color:#E5E5E5') &#10004;
                                                    td
                                        else
                                            td
                                            td
                                    - i++;
                                
block scripts
    script.
        var tips =!{JSON.stringify(tips)};
        var i=0;
        setInterval(function() {
            document.getElementById('tip').innerHTML = tips[i].text;
            i = (i+1)%tips.length;
        }, 1000);
        
        
