extends layout

block content
    .container-fluid
        .row(style='height:30vh;')
            .span6
                h2 Tips
                p#tip Original
            .span6
                h2 Notices
                p=notices[0].text
        .row
            .span6
                h2 IT Out
                p=itout
            .span6
                h2 Schedule
                table(class='table table-striped')
                    thead
                        tr
                            th Time
                            th Name
                            th(style='text-align:center') Voicemail
                            th(style='text-align:center') Email
                    tbody
                        - var i = 0;
                        each entry in schedule
                            tr
                                - var startTime = entry[0].toLocaleTimeString().slice(0,-6)
                                td=entry[0].toLocaleTimeString().slice(0,-6)+'-'+entry[1].toLocaleTimeString().slice(0,-6)
                                td=entry[2]
                                if roles[i]<0
                                    form(method='POST',action='/pickRole')
                                        td
                                            button.btn.btn-primary(type='submit',name='voicemail',value=[roles[i],startTime]) Pick
                                        td
                                            button.btn.btn-primary(type='submit',name='email',value=[roles[i],startTime],style='background:#FF0000') Pick
                                else if roles[i]>=0
                                    if roles[i]
                                        td
                                        td(style='text-align:center') &#10004;
                                    else
                                        td(style='text-align:center') &#10004;
                                        td
                                else
                                    td
                                    td
                                //-        
                                    if roles.length>0 || entry[0].toLocaleTimeString().slice(0,-6) !== '7:30'
                                        if roles[i]
                                            td
                                            td(style='text-align:center') &#10004;
                                        else if roles.length>0
                                            td(style='text-align:center') &#10004;
                                            td
                                        else
                                            td
                                            td
                                    else
                                        form(method='POST',action='/pickRole')
                                            td
                                                button.btn.btn-primary(type='submit',name='voicemail',value=i) Pick
                                            td
                                                button.btn.btn-primary(type='submit',name='email',value=i,style='background:#FF0000') Pick
                                - i++;
                                
block scripts
    script.
        var tips =!{JSON.stringify(tips)};
        var i=0;
        setInterval(function() {
            document.getElementById('tip').innerHTML = tips[i].text;
            i = (i+1)%tips.length;
        }, 1000);
        
